* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: black;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

p, a, span, button {
  font-size: 16px;
}

ul {
  list-style: none;
}

.button-type-1 {
  background: transparent;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  color: white;
  cursor: pointer;
}

.button-type-1:hover {
  color: #FCD980;
  border: 2px solid #FCD980;
  transition: 0.5s;
}

.button-type-2 {
  background: #FCD980;
  border-radius: 41px;
  padding: 16px 56px;
  color: black;
  cursor: pointer;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

header {
  background: #1C1E53;
  padding: 16px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 92px;
}
header .nav-items a {
  color: white;
}
header .nav-items a:hover {
  color: #FCD980;
  transition: 0.5s;
}
header #myLinks {
  display: none;
}

@media only screen and (max-with: 1240px) {
  .topnav {
    display: none;
  }
}
@media only screen and (max-width: 805px) {
  .navbar .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px 0 0 25px;
  }
  .navbar .nav-items {
    display: none;
  }
  .topnav {
    display: block;
    background-color: #1C1E53;
    padding: 30px 0;
    width: 100%;
  }
  .topnav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 24px 0;
  }
  .topnav a {
    position: relative;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #1C1E53;
    text-align: center;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
.footer {
  background-color: #1C1E53;
  padding: 110px 0;
  margin-top: 100px;
  color: white;
}
.footer .footer-content {
  display: flex;
  align-items: start;
  gap: 142px;
}
.footer .footer-content .f-items-left p {
  padding: 23px 0 86px 0;
}
.footer .footer-content .f-items-left .contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
  background: var(--Yellow, #FCD980);
  color: black;
  padding: 18px 37px 16px 37px;
}
.footer .footer-content .f-items-right p {
  padding: 14px 0 28px 0;
}
.footer .footer-content .f-items-right .social {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 1030px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
}
@media only screen and (max-width: 1012px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer-content .f-items-left .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-content .f-items-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info .email, .contact-info .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 270px;
}

body {
  font-family: sans-serif;
}

.par1 .par2 .par3 {
  padding-top: 128px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  /* Heading 2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}

.par1 .par4 .par5 {
  padding-top: 16px;
  color: var(--Dark-blue, #ccc);
  text-align: center;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.par6 {
  margin-top: 64px;
  width: 1061px;
  height: 640px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Grey, #f4f6fc);
}

.par6 .par7 {
  padding-top: 55px;
  padding-left: 77px;
}

.par6 .par7 p {
  color: #000;
  /* Label 01 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}

.par6 .par7 form input {
  background: transparent;
  width: 438px;
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #000;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.par6 .par8 {
  padding-top: 55px;
  padding-right: 77px;
}

.par6 .par8 p {
  color: #000;
  /* Label 01 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}

.par6 form input {
  background: transparent;
  width: 438px;
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #000;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.emaul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.par9 {
  margin-top: 16px;
  margin-left: 77px;
}

.par9 p {
  color: #000;
  /* Label 01 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}

#ms {
  display: flex;
  width: 908px;
  height: 138px;
  padding: 18px 32px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 90px;
}

.par10 {
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background: var(--Dark-blue, #282938);
  margin-top: 32px;
  margin-left: 77px;
  transition: 0, 4s;
}

.par10 a {
  color: var(--Grey, #f4f6fc);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}

.par10:hover {
  background: #444449;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
} /*# sourceMappingURL=main.css.map */