* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: black;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

p, a, span, button {
  font-size: 16px;
}

ul {
  list-style: none;
}

.button-type-1 {
  background: transparent;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  color: white;
  cursor: pointer;
}

.button-type-1:hover {
  color: #FCD980;
  border: 2px solid #FCD980;
  transition: 0.5s;
}

.button-type-2 {
  background: #FCD980;
  border-radius: 41px;
  padding: 16px 56px;
  color: black;
  cursor: pointer;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

header {
  background: #1C1E53;
  padding: 16px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 92px;
}
header .nav-items a {
  color: white;
}
header .nav-items a:hover {
  color: #FCD980;
  transition: 0.5s;
}
header #myLinks {
  display: none;
}

@media only screen and (max-with: 1240px) {
  .topnav {
    display: none;
  }
}
@media only screen and (max-width: 805px) {
  .navbar .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px 0 0 25px;
  }
  .navbar .nav-items {
    display: none;
  }
  .topnav {
    display: block;
    background-color: #1C1E53;
    padding: 30px 0;
    width: 100%;
  }
  .topnav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 24px 0;
  }
  .topnav a {
    position: relative;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #1C1E53;
    text-align: center;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
.hero {
  background-color: #1C1E53;
  padding: 128px 0;
  color: white;
}
.hero a:nth-child(2) {
  color: white;
  padding-left: 24px;
}
.hero .hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero-content .h-left {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.projects {
  padding: 57px 0 128px 0;
}
.projects .headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
}
.projects .pro-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects .pro-content .pro-left {
  background-image: url(/images/home/Card.png);
  width: 843px;
  height: 600px;
}
.projects .pro-content .pro-right {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.projects .pro-content .pro-right .right-top {
  width: 405px;
  height: 284px;
  background-image: url(/images/home/Rectangle1313.png);
  background-repeat: no-repeat;
}
.projects .pro-content .pro-right .right-bottom {
  width: 405px;
  height: 284px;
  background-image: url(/images/home/pics.png);
  background-repeat: no-repeat;
}

.features {
  background: var(--Grey, #F4F6FC);
  padding: 128px 0;
}
.features .feature-content .f-headline {
  text-align: center;
}
.features .feature-content .f-headline h1 {
  padding: 12px 0 47px 0;
}
.features .feature-carts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.features .feature-carts .cart {
  width: 405px;
  height: 316px;
  background-color: white;
  padding: 48px 0 0 48px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.feedbacks {
  background: var(--Grey, #F4F6FC);
}
.feedbacks .feedback-content {
  display: flex;
  gap: 110px;
}
.feedbacks .feedback-content .fed-right-bottow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedbacks .feedback-content .fed-right-bottow .woman {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px 0;
}

.footer {
  background-color: #1C1E53;
  padding: 110px 0;
  margin-top: 100px;
  color: white;
}
.footer .footer-content {
  display: flex;
  align-items: start;
  gap: 142px;
}
.footer .footer-content .f-items-left p {
  padding: 23px 0 86px 0;
}
.footer .footer-content .f-items-left .contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
  background: var(--Yellow, #FCD980);
  color: black;
  padding: 18px 37px 16px 37px;
}
.footer .footer-content .f-items-right p {
  padding: 14px 0 28px 0;
}
.footer .footer-content .f-items-right .social {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 1030px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
}
@media only screen and (max-width: 1012px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer-content .f-items-left .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-content .f-items-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info .email, .contact-info .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #1C1E53;
  padding: 16px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 92px;
}
header .nav-items a {
  color: white;
}
header .nav-items a:hover {
  color: #FCD980;
  transition: 0.5s;
}
header #myLinks {
  display: none;
}

@media only screen and (max-with: 1240px) {
  .topnav {
    display: none;
  }
}
@media only screen and (max-width: 805px) {
  .navbar .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px 0 0 25px;
  }
  .navbar .nav-items {
    display: none;
  }
  .topnav {
    display: block;
    background-color: #1C1E53;
    padding: 30px 0;
    width: 100%;
  }
  .topnav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 24px 0;
  }
  .topnav a {
    position: relative;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #1C1E53;
    text-align: center;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
.aboutbir {
  margin-top: 200px;
  display: flex;
  align-items: center;
  gap: 47px;
}
.aboutbir .aboutbir-contentbir .parbir {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}
.aboutbir .aboutbir-contentbir b {
  margin-top: 8px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px; /* 137.037% */
}
.aboutbir .aboutbir-contentbir .parikki {
  margin-top: 30px;
  color: var(--Dark-blue, #282938);
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.aboutbir .aboutbir-contentikki {
  text-align: center;
}
.aboutbir .aboutbir-contentikki img {
  max-width: 1280px;
  max-height: 340px;
  flex-shrink: 0;
}

.aboutikki {
  margin-top: 126px;
  max-width: 1280px;
  max-height: 716px;
  background: #f4f5f5;
}
.aboutikki .aboutbox-bir {
  flex-shrink: 0;
}
.aboutikki .aboutbox-bir .aboutbox-content {
  display: flex;
  width: 1280px;
  height: 376px;
  flex-shrink: 0;
  padding: 96px 90px;
  gap: 60px;
}
.aboutikki .aboutbox-bir .aboutbox-content .aboutbox-contentbir {
  max-width: 515px;
  max-height: 184px;
}
.aboutikki .aboutbox-bir .aboutbox-content .aboutbox-contentbir b {
  color: var(--Dark-blue, #282938);
  font-size: 38px;
  line-height: 56px; /* 147.368% */
}
.aboutikki .aboutbox-bir .aboutbox-content .aboutbox-contentbir p {
  margin-top: 16px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  line-height: 28px; /* 175% */
}
.aboutikki .aboutbox-bir .aboutbox-content .aboutbox-contentikki {
  width: 515px;
  height: 184px;
}
.aboutikki .aboutbox-bir .aboutbox-content .aboutbox-contentikki b {
  color: var(--Dark-blue, #282938);
  font-size: 38px;
  line-height: 56px; /* 147.368% */
}
.aboutikki .aboutbox-bir .aboutbox-content .aboutbox-contentikki p {
  margin-top: 16px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  line-height: 28px; /* 175% */
}
.aboutikki .aboutbox-ikki {
  text-align: center;
  justify-content: center;
}
.aboutikki .aboutbox-ikki img {
  width: 100%;
  height: auto;
}

.aboutuch {
  margin-top: 128px;
  background: var(--Grey, #f4f6fc);
  width: 100%;
  height: 712px;
}
.aboutuch .boxx {
  padding: 128px 0;
}
.aboutuch .boxx .aboutuch-par {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.aboutuch .boxx .aboutuch-box {
  margin-top: 48px;
  padding: 0;
  display: flex;
  gap: 20px;
}
.aboutuch .boxx .aboutuch-box .aboutuch-boxbir {
  background-color: #fff;
  max-width: 267px;
  max-height: 340px;
  text-align: center;
}
.aboutuch .boxx .aboutuch-box .aboutuch-boxbir .paddingl {
  margin: 40px 64px;
}
.aboutuch .boxx .aboutuch-box .aboutuch-boxbir .paddingl b {
  margin-top: 30px;
  color: var(--b, #1d2130);
  font-style: normal;
  font-size: 24px;
}
.aboutuch .boxx .aboutuch-box .aboutuch-boxbir .paddingl p {
  margin-top: 2px;
  color: var(--b, #1d2130);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

@media (max-width: 1350px) {
  .aboutbir {
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  .aboutbir .aboutbir-contentbir b {
    font-size: 20px;
  }
  .aboutbir .aboutbir-contentbir .p {
    font-size: 12px;
  }
  .aboutbox-content {
    flex-wrap: wrap;
    align-items: center;
  }
  .aboutuch-box {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
}
.footer {
  background-color: #1C1E53;
  padding: 110px 0;
  margin-top: 100px;
  color: white;
}
.footer .footer-content {
  display: flex;
  align-items: start;
  gap: 142px;
}
.footer .footer-content .f-items-left p {
  padding: 23px 0 86px 0;
}
.footer .footer-content .f-items-left .contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
  background: var(--Yellow, #FCD980);
  color: black;
  padding: 18px 37px 16px 37px;
}
.footer .footer-content .f-items-right p {
  padding: 14px 0 28px 0;
}
.footer .footer-content .f-items-right .social {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 1030px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
}
@media only screen and (max-width: 1012px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer-content .f-items-left .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-content .f-items-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info .email, .contact-info .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #1C1E53;
  padding: 16px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 92px;
}
header .nav-items a {
  color: white;
}
header .nav-items a:hover {
  color: #FCD980;
  transition: 0.5s;
}
header #myLinks {
  display: none;
}

@media only screen and (max-with: 1240px) {
  .topnav {
    display: none;
  }
}
@media only screen and (max-width: 805px) {
  .navbar .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px 0 0 25px;
  }
  .navbar .nav-items {
    display: none;
  }
  .topnav {
    display: block;
    background-color: #1C1E53;
    padding: 30px 0;
    width: 100%;
  }
  .topnav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 24px 0;
  }
  .topnav a {
    position: relative;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #1C1E53;
    text-align: center;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
.par1 .par2 .par3 {
  padding-top: 128px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  /* Heading 2 */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}

.par1 .par4 .par5 {
  padding-top: 16px;
  color: var(--Dark-blue, #ccc);
  text-align: center;
  /* Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.par6 {
  margin-top: 64px;
  width: 1061px;
  height: 640px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Grey, #f4f6fc);
}

.par6 .par7 {
  padding-top: 55px;
  padding-left: 77px;
}

.par6 .par7 p {
  color: #000;
  /* Label 01 */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}

.par6 .par7 form input {
  background: transparent;
  width: 438px;
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #000;
  /* Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.par6 .par8 {
  padding-top: 55px;
  padding-right: 77px;
}

.par6 .par8 p {
  color: #000;
  /* Label 01 */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}

.par6 form input {
  background: transparent;
  width: 438px;
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #000;
  /* Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.emaul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.par9 {
  margin-top: 16px;
  margin-left: 77px;
}

.par9 p {
  color: #000;
  /* Label 01 */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}

#ms {
  display: flex;
  width: 908px;
  height: 138px;
  padding: 18px 32px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 90px;
}

.par10 {
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background: var(--Dark-blue, #1C1E53);
  margin-top: 32px;
  margin-left: 77px;
  transition: 0, 4s;
}

.par10 a {
  color: var(--Grey, #f4f6fc);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}

.par10:hover {
  background: #444449;
}

a {
  text-decoration: none;
}

a:hover {
  color: #1C1E53;
}

.footer {
  background-color: #1C1E53;
  padding: 110px 0;
  margin-top: 100px;
  color: white;
}
.footer .footer-content {
  display: flex;
  align-items: start;
  gap: 142px;
}
.footer .footer-content .f-items-left p {
  padding: 23px 0 86px 0;
}
.footer .footer-content .f-items-left .contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
  background: var(--Yellow, #FCD980);
  color: black;
  padding: 18px 37px 16px 37px;
}
.footer .footer-content .f-items-right p {
  padding: 14px 0 28px 0;
}
.footer .footer-content .f-items-right .social {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 1030px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
}
@media only screen and (max-width: 1012px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer-content .f-items-left .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-content .f-items-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info .email, .contact-info .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 90px;
}

header {
  background: #1C1E53;
  padding: 16px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 92px;
}
header .nav-items a {
  color: white;
}
header .nav-items a:hover {
  color: #FCD980;
  transition: 0.5s;
}
header #myLinks {
  display: none;
}

@media only screen and (max-with: 1240px) {
  .topnav {
    display: none;
  }
}
@media only screen and (max-width: 805px) {
  .navbar .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px 0 0 25px;
  }
  .navbar .nav-items {
    display: none;
  }
  .topnav {
    display: block;
    background-color: #1C1E53;
    padding: 30px 0;
    width: 100%;
  }
  .topnav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 24px 0;
  }
  .topnav a {
    position: relative;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #1C1E53;
    text-align: center;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
.footer {
  background-color: #1C1E53;
  padding: 110px 0;
  margin-top: 100px;
  color: white;
}
.footer .footer-content {
  display: flex;
  align-items: start;
  gap: 142px;
}
.footer .footer-content .f-items-left p {
  padding: 23px 0 86px 0;
}
.footer .footer-content .f-items-left .contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
  background: var(--Yellow, #FCD980);
  color: black;
  padding: 18px 37px 16px 37px;
}
.footer .footer-content .f-items-right p {
  padding: 14px 0 28px 0;
}
.footer .footer-content .f-items-right .social {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 1030px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
}
@media only screen and (max-width: 1012px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer-content .f-items-left .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-content .f-items-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info .email, .contact-info .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 90px;
}

header {
  background: #1C1E53;
  padding: 16px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 92px;
}
header .nav-items a {
  color: white;
}
header .nav-items a:hover {
  color: #FCD980;
  transition: 0.5s;
}
header #myLinks {
  display: none;
}

@media only screen and (max-with: 1240px) {
  .topnav {
    display: none;
  }
}
@media only screen and (max-width: 805px) {
  .navbar .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px 0 0 25px;
  }
  .navbar .nav-items {
    display: none;
  }
  .topnav {
    display: block;
    background-color: #1C1E53;
    padding: 30px 0;
    width: 100%;
  }
  .topnav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 24px 0;
  }
  .topnav a {
    position: relative;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #1C1E53;
    text-align: center;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
.hero {
  max-width: 1600px;
  width: 100%;
  height: 1891px;
  margin: 0 auto;
  margin-top: 220px;
}

.plans {
  text-align: center;
  color: #282938;
  font-size: 48px;
  line-height: 64px;
}

.text {
  text-align: center;
  color: #282938;
  font-size: 16px;
  line-height: 28px;
  width: 562px;
}

.hj {
  display: flex;
  justify-content: center;
}

.landing {
  max-width: 1280px;
  width: 100%;
  height: 746px;
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page {
  width: 406px;
  height: 745px;
  padding: 64px 76px 62px 48px;
  border-radius: 12px;
  background-color: #F4F6FC;
  transition: 0.4s;
}

.landing-pages {
  width: 406px;
  height: 745px;
  padding: 64px 76px 62px 48px;
  border-radius: 12px;
  background-color: #1C1E53;
  background-image: url(../imgs/Ellipse\ 226.png);
  background-repeat: no-repeat;
  transition: 0.4s;
}

.landing-page:hover {
  transform: scale(1.1);
}

.landing-pages:hover {
  transform: scale(1.1);
}

.landing-pages a {
  font-size: 16px;
  color: #FCD980;
}

.landing-pages img {
  margin-top: 78px;
}

.dollor {
  font-size: 38px;
  display: inline;
  color: #282938;
}

.landing-page a {
  font-size: 16px;
}

.text-page {
  margin-top: 20px;
  font-size: 24px;
  color: #282938;
  line-height: 36px;
  font-weight: 500px;
}

.beyond {
  margin-top: 8px;
  font-size: 16px;
  color: #282938;
  line-height: 28px;
}

.landing-page img {
  margin-top: 78px;
}

.started {
  width: 254px;
  height: 64px;
  border-radius: 41px;
  font-size: 18px;
  line-height: 32px;
  transition: 0.4s;
  border: none;
  background-color: #282938;
  color: #FFFFFF;
  margin-top: 79px;
}

.started:hover {
  border: 1px solid #282938;
  color: #282938;
  transform: scale(1.1);
  background: none;
}

.startedd:hover {
  border: 1px solid #282938;
  color: #282938;
  transform: scale(1.1);
  background: none;
}

.starteds:hover {
  color: #FCD980;
  border: 1px solid #FCD980;
  background: none;
  transform: scale(1.1);
}

.dollors {
  font-size: 38px;
  display: inline;
  color: #FFFFFF;
}

.text-pages {
  margin-top: 20px;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 36px;
  font-weight: 500px;
}

.beyonds {
  margin-top: 8px;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
}

.starteds {
  width: 254px;
  height: 64px;
  border-radius: 41px;
  font-size: 18px;
  line-height: 32px;
  transition: 0.4s;
  border: none;
  background-color: #FCD980;
  color: #000;
  margin-top: 79px;
}

.startedd {
  width: 254px;
  height: 64px;
  border-radius: 41px;
  font-size: 18px;
  line-height: 32px;
  transition: 0.4s;
  border: none;
  background-color: #282938;
  color: #FFFFFF;
  margin-top: 30px;
}

@media (max-width: 1240px) {
  .landing-page, .landing-pages {
    width: 325px;
    height: 720px;
    flex-wrap: wrap;
    text-align: center;
    padding: 34px 46px 32px 28px;
  }
  .fg {
    display: block;
  }
  button {
    width: 200px;
  }
  .asked {
    margin-top: 1000px;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 50px;
  }
  .more {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 990px) {
  .landing {
    flex-direction: column;
    text-align: center;
    gap: 34px;
  }
  .hero {
    height: 3000px;
  }
  .asked {
    margin-top: 1000px;
    flex-direction: column;
    row-gap: 50px;
    text-align: center;
    margin: 0 auto;
    padding-top: 1300px;
  }
  .icon {
    width: 28px;
    height: 28px;
  }
  .how {
    font-size: 12px;
  }
}
.asked {
  max-width: 1280px;
  width: 100%;
  height: 562px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}

.fre {
  font-size: 48px;
  color: #282938;
  width: 406px;
  line-height: 64px;
}

.for {
  font-size: 18px;
  line-height: 32px;
}

.team {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  -moz-column-gap: 58px;
       column-gap: 58px;
  justify-content: space-between;
  height: 82px;
  border: 1px solid rgb(159, 159, 159);
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 32px;
  transition: 0.4s;
}

.teams {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  -moz-column-gap: 58px;
       column-gap: 58px;
  justify-content: space-between;
  height: 72px;
  border: 1px solid rgb(159, 159, 159);
  border-top: none;
  border-right: none;
  border-left: none;
  transition: 0.4s;
}

.teams:hover {
  transform: scale(1.1);
}

.team:hover {
  transform: scale(1.1);
}

.team a {
  font-size: 24px;
  line-height: 36px;
}

.teams a {
  font-size: 24px;
  line-height: 36px;
}

.how {
  width: 400px;
  font-size: 24px;
  color: #282938;
  line-height: 36px;
}

.icon {
  transition: 0.4s;
}

.icon:active {
  transform: rotate(225deg);
}

.lorem {
  position: absolute;
  margin-top: -54px;
  font-size: 18px;
  width: 624px;
  color: #282938;
  margin-left: 85px;
}

.footer {
  background-color: #1C1E53;
  padding: 110px 0;
  margin-top: 100px;
  color: white;
}
.footer .footer-content {
  display: flex;
  align-items: start;
  gap: 142px;
}
.footer .footer-content .f-items-left p {
  padding: 23px 0 86px 0;
}
.footer .footer-content .f-items-left .contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
  background: var(--Yellow, #FCD980);
  color: black;
  padding: 18px 37px 16px 37px;
}
.footer .footer-content .f-items-right p {
  padding: 14px 0 28px 0;
}
.footer .footer-content .f-items-right .social {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 1030px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
}
@media only screen and (max-width: 1012px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer-content .f-items-left .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-content .f-items-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info .email, .contact-info .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 90px;
}

header {
  background: #1C1E53;
  padding: 16px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 92px;
}
header .nav-items a {
  color: white;
}
header .nav-items a:hover {
  color: #FCD980;
  transition: 0.5s;
}
header #myLinks {
  display: none;
}

@media only screen and (max-with: 1240px) {
  .topnav {
    display: none;
  }
}
@media only screen and (max-width: 805px) {
  .navbar .logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px 0 0 25px;
  }
  .navbar .nav-items {
    display: none;
  }
  .topnav {
    display: block;
    background-color: #1C1E53;
    padding: 30px 0;
    width: 100%;
  }
  .topnav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 24px 0;
  }
  .topnav a {
    position: relative;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #1C1E53;
    text-align: center;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
.footer {
  background-color: #1C1E53;
  padding: 110px 0;
  margin-top: 100px;
  color: white;
}
.footer .footer-content {
  display: flex;
  align-items: start;
  gap: 142px;
}
.footer .footer-content .f-items-left p {
  padding: 23px 0 86px 0;
}
.footer .footer-content .f-items-left .contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
  background: var(--Yellow, #FCD980);
  color: black;
  padding: 18px 37px 16px 37px;
}
.footer .footer-content .f-items-right p {
  padding: 14px 0 28px 0;
}
.footer .footer-content .f-items-right .social {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 1030px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
}
@media only screen and (max-width: 1012px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer-content .f-items-left .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-content .f-items-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info .email, .contact-info .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
} /*# sourceMappingURL=main.css.map */